language: php

php:
  - 5.5

before_script:
  - cp app/config/parameters.yml.travis app/config/parameters.yml
  - composer install
  - php app/console doctrine:database:create --env=test
  - php app/console doctrine:schema:create --env=test
  - npm install

script:
  - phpunit -c app

cache:
  directories:
    - node_modules
    - bower_components
    - vendor
    - bin
